# Cleaning data from transfermarkt

## We are cleaning the data of 25 leagues across the globe and assesing nearly a million transfer. We just want to see if clubs are paying more for younger players.

In [2]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

During startup - Warning messages:
1: Setting LC_COLLATE failed, using "C"
2: Setting LC_TIME failed, using "C"
3: Setting LC_MESSAGES failed, using "C"
4: Setting LC_MONETARY failed, using "C"

In [3]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [4]:
%%R

require('tidyverse')

R[write to console]: Loading required package: tidyverse

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [5]:
%%R -i df

UsageError: %%R is a cell magic, but the cell body is empty. Did you mean the line magic %R (single %)?

Merging all the dataframes into one big DF.

In [6]:
bundesliga_df = pd.read_csv('data/1-bundesliga.csv')
championship_df = pd.read_csv('data/championship.csv')
laliga_df = pd.read_csv('data/primera-division.csv')
ligue1_df = pd.read_csv('data/ligue-1.csv')
seriea_df = pd.read_csv('data/serie-a.csv')
liganos_df = pd.read_csv('data/liga-nos.csv')
eredivisie_df = pd.read_csv('data/eredivisie.csv')
russian_league_df = pd.read_csv('data/premier-liga.csv')
prem_df = pd.read_csv('data/premier-league.csv')
brazil_df = pd.read_csv('data/campeonato-brasileiro-serie-a.csv')
china_df = pd.read_csv('data/chinese-super-league.csv')
japan_df = pd.read_csv('data/j1-league.csv')
sweden_df = pd.read_csv('data/allsvenskan.csv')
turkey_df = pd.read_csv('data/super-lig.csv')
usa_df = pd.read_csv('data/major-league-soccer.csv')
mexico_df = pd.read_csv('data/liga-mx-apertura.csv')
saudi_df = pd.read_csv('data/saudi-professional-league.csv')
scot_df = pd.read_csv('data/scottish-premiership.csv')
norway_df = pd.read_csv('data/eliteserien.csv')
austria_df = pd.read_csv('data/bundesliga.csv')
belgium_df = pd.read_csv('data/juliper-pro-league.csv')
korean_df = pd.read_csv('data/k-league-1.csv')
denmark_df = pd.read_csv('data/superligaen.csv')
argentina_df = pd.read_csv('data/superliga.csv')

In [7]:
ligue1_df

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country
0,AC Le Havre,Didier Angibeaud,17.0,Centre-Forward,Unknown,?,in,Summer,NaN,Ligue 1,1992,1992/1993,France
1,AC Le Havre,Jean-Roch Testa,27.0,Attack,FC Gueugnon,?,in,Summer,NaN,Ligue 1,1992,1992/1993,France
2,AC Le Havre,Gia Guruli,28.0,Centre-Forward,GKS Katowice,?,in,Summer,NaN,Ligue 1,1992,1992/1993,France
3,AC Le Havre,Michel Rio,29.0,Attacking Midfield,SM Caen,?,in,Summer,NaN,Ligue 1,1992,1992/1993,France
4,AC Le Havre,Christophe Revault,20.0,Goalkeeper,AC Le Havre B,-,in,Summer,NaN,Ligue 1,1992,1992/1993,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17598,AJ Auxerre,Quentin Bernard,33.0,Left-Back,Chamois Niortais FC,free transfer,out,Winter,0.0,Ligue 1,2022,2022/2023,France
17599,AJ Auxerre,Benoît Costil,35.0,Goalkeeper,LOSC Lille,free transfer,out,Winter,0.0,Ligue 1,2022,2022/2023,France
17600,AJ Auxerre,Alexandre Coeff,30.0,Centre-Back,Brescia Calcio,free transfer,out,Winter,0.0,Ligue 1,2022,2022/2023,France
17601,AJ Auxerre,Paul Joly,22.0,Right-Back,Dijon FCO,loan transfer,out,Winter,NaN,Ligue 1,2022,2022/2023,France
17602,AJ Auxerre,Brayann Pereira,19.0,Right-Back,Football Bourg-en-Bresse Péronnas 01,loan transfer,out,Winter,NaN,Ligue 1,2022,2022/2023,France

In [8]:
leagues_df = pd.concat([argentina_df, denmark_df, korean_df, belgium_df, austria_df, norway_df, scot_df, mexico_df, saudi_df, sweden_df, usa_df, turkey_df, china_df, japan_df, prem_df, bundesliga_df, brazil_df, championship_df, laliga_df, ligue1_df, seriea_df, liganos_df, eredivisie_df, russian_league_df], ignore_index=True)
leagues_df.head()
len(leagues_df)

383402

In [9]:
#save leagues_df into a master csv file
leagues_df.to_csv('master.csv', index=False)

In [12]:
leagues_df.league_name.unique()

array(['Superliga', 'Superligaen', 'K League 1', 'Juliper Pro League',
       'Bundesliga', 'Eliteserien', 'Scottish Premiership',
       'Liga Mx Apertura', 'Saudi Professional League', 'Allsvenskan',
       'Major League Soccer', 'Super Lig', 'Chinese Super League',
       'J1 League', 'Premier League', '1 Bundesliga',
       'Campeonato Brasileiro Serie A', 'Championship',
       'Primera Division', 'Ligue 1', 'Serie A', 'Liga Nos', 'Eredivisie',
       'Premier Liga'], dtype=object)

In [13]:
bayern_df = leagues_df[leagues_df['club_name'] == 'Bayern Munich']
dortmund_df = leagues_df[leagues_df['club_name'] == 'Borussia Dortmund']

In [14]:
#removewhere fee_cleaned = 0
bayern_df = bayern_df[bayern_df['fee_cleaned'] != 0]
dortmund_df = dortmund_df[dortmund_df['fee_cleaned'] != 0]

In [15]:
#keep only where transfer_movement = 'in'
bayern_df = bayern_df[bayern_df['transfer_movement'] == 'in']
dortmund_df = dortmund_df[dortmund_df['transfer_movement'] == 'in']

In [16]:
#remove the nan values for fee_cleaned
bayern_df = bayern_df.dropna(subset=['fee_cleaned'])
dortmund_df = dortmund_df.dropna(subset=['fee_cleaned'])

In [19]:
#make the year above 2000
bayern_df = bayern_df[bayern_df['year'] > 2000]
dortmund_df = dortmund_df[dortmund_df['year'] > 2000]

In [18]:
#save bayern_df into a csv file
bayern_df.to_csv('bayern.csv', index=False)
#save dortmund_df into a csv file
dortmund_df.to_csv('dortmund.csv', index=False)

In [99]:
df_in = leagues_df[leagues_df['transfer_movement'] == 'in']
df_in.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country
0,Club Atlético Aldosivi,César Carranza,33.0,Centre-Forward,Club Ferro Carril Oeste,free transfer,in,Summer,0.0,Superliga,2014,2014/2015,Argentina
1,Club Atlético Aldosivi,Gonzalo Bozzoni,24.0,Left-Back,Club Atlético Atlanta,free transfer,in,Summer,0.0,Superliga,2014,2014/2015,Argentina
2,Club Atlético Aldosivi,Matías Lequi,33.0,Centre-Back,Sportivo Luqueño,free transfer,in,Summer,0.0,Superliga,2014,2014/2015,Argentina
3,Club Atlético Aldosivi,Alejandro Capurro,33.0,Central Midfield,Club de Gimnasia y Esgrima La Plata,free transfer,in,Summer,0.0,Superliga,2014,2014/2015,Argentina
4,Club Atlético Aldosivi,Darío Gandín,30.0,Centre-Forward,CA Colon,free transfer,in,Summer,0.0,Superliga,2014,2014/2015,Argentina

In [100]:
len(df_in)

179325

In [101]:
#in leagues_df, keep only where club name is Chelsea, Manchester United, Manchester City, Liverpool, Arsenal, Tottenham Hotspur, Leicester City, West Ham United, Wolverhampton Wanderers, Aston Villa, Everton, Newcastle United, Leeds United, Southampton, Crystal Palace, Brighton & Hove Albion, Burnley, Fulham, West Bromwich Albion, Sheffield United, Burnley, Nottingham Forest, Swansea City, West Bromwich Albion, Stoke City, Brentford, Cardiff City.
prem_2 = df_in[df_in['club_name'].isin(['Chelsea FC', 'Manchester United', 'Manchester City', 'Liverpool FC', 'Norwich City', 'Huddersfield Town',
 'Arsenal FC', 'Tottenham Hotspur', 'Leicester City', 'West Ham United', 'Wolverhampton Wanderers', 
 'Aston Villa', 'Everton FC', 'Newcastle United', 'Leeds United', 'Southampton', 'Crystal Palace', 'Brighton & Hove Albion', 'Burnley FC', 
 'Fulham FC', 'West Bromwich Albion', 'Sheffield United', 'Nottingham Forest', 'Swansea City',  'West Bromwich Albion', 'Stoke City', 'Brentford FC', 'Watford FC', 'AFC Bournemouth', 'Cardiff City'])]

In [102]:
prem_2

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country
172594,Chelsea FC,Álvaro Morata,24.0,Centre-Forward,Real Madrid,€66.00m,in,Summer,66.0,Premier League,2017,2017/2018,England
172595,Chelsea FC,Tiemoué Bakayoko,22.0,Defensive Midfield,AS Monaco,€40.00m,in,Summer,40.0,Premier League,2017,2017/2018,England
172596,Chelsea FC,Danny Drinkwater,27.0,Central Midfield,Leicester City,€37.90m,in,Summer,37.9,Premier League,2017,2017/2018,England
172597,Chelsea FC,Antonio Rüdiger,24.0,Centre-Back,AS Roma,€35.00m,in,Summer,35.0,Premier League,2017,2017/2018,England
172598,Chelsea FC,Davide Zappacosta,25.0,Right-Back,Torino FC,€25.00m,in,Summer,25.0,Premier League,2017,2017/2018,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247987,Watford FC,Matheus Martins,19.0,Left Winger,Udinese Calcio,loan transfer,in,Winter,NaN,Championship,2022,2022/2023,England
247988,Watford FC,Domingos Quina,23.0,Central Midfield,Elche CF,"End of loanJan 30, 2023",in,Winter,NaN,Championship,2022,2022/2023,England
247989,Watford FC,Bogdan Marian,18.0,Defence,Rushden & Diam.,"End of loanApr 30, 2023",in,Winter,NaN,Championship,2022,2022/2023,England
247997,West Bromwich Albion,Nathaniel Chalobah,28.0,Defensive Midfield,Fulham,?,in,Winter,NaN,Championship,2022,2022/2023,England
247998,West Bromwich Albion,Marc Albrighton,33.0,Right Midfield,Leicester,loan transfer,in,Winter,NaN,Championship,2022,2022/2023,England

In [ ]:
#for prem_2 remove the rows where transfer_movement is in

In [103]:

prem_2.groupby('club_name')['fee_cleaned'].sum().sort_values(ascending=False).reset_index()

                  club_name  fee_cleaned
0                Chelsea FC     1490.990
1           Manchester City     1025.710
2         Manchester United      984.980
3                Arsenal FC      839.560
4              Liverpool FC      674.600
5         Tottenham Hotspur      655.800
6   Wolverhampton Wanderers      647.365
7                Everton FC      615.070
8           West Ham United      614.295
9          Newcastle United      604.515
10              Aston Villa      598.190
11           Leicester City      521.999
12             Leeds United      417.025
13   Brighton & Hove Albion      411.170
14                Fulham FC      355.065
15        Nottingham Forest      296.142
16          AFC Bournemouth      285.425
17           Crystal Palace      247.670
18               Watford FC      247.490
19               Burnley FC      228.875
20             Norwich City      184.156
21         Sheffield United      181.945
22     West Bromwich Albion      174.620
23             Brentford FC      169.160
24               Stoke City      145.895
25        Huddersfield Town      134.860
26             Cardiff City      126.910
27             Swansea City       96.359

In [105]:
#sum for all clubs in the premier league, save as a table
total_fee = prem_2.groupby('club_name')['fee_cleaned'].sum().sort_values(ascending=False).reset_index()
total_fee
#clean the club_name column and drop ' FC'
total_fee = total_fee.replace(to_replace=' FC', value='', regex=True)
total_fee

                  club_name  fee_cleaned
0                   Chelsea     1490.990
1           Manchester City     1025.710
2         Manchester United      984.980
3                   Arsenal      839.560
4                 Liverpool      674.600
5         Tottenham Hotspur      655.800
6   Wolverhampton Wanderers      647.365
7                   Everton      615.070
8           West Ham United      614.295
9          Newcastle United      604.515
10              Aston Villa      598.190
11           Leicester City      521.999
12             Leeds United      417.025
13   Brighton & Hove Albion      411.170
14                   Fulham      355.065
15        Nottingham Forest      296.142
16          AFC Bournemouth      285.425
17           Crystal Palace      247.670
18                  Watford      247.490
19                  Burnley      228.875
20             Norwich City      184.156
21         Sheffield United      181.945
22     West Bromwich Albion      174.620
23                Brentford      169.160
24               Stoke City      145.895
25        Huddersfield Town      134.860
26             Cardiff City      126.910
27             Swansea City       96.359

In [83]:
league_table = pd.read_csv('points.csv')

league_table

,Squad,Pts_2023,Pts_2022,Pts_2021,Pts_2019,Pts_2020,Total_Pts
0,Manchester City,79.0,93.0,86.0,100.0,98.0,456.0
1,Liverpool,59.0,92.0,69.0,75.0,97.0,392.0
2,Manchester Utd,63.0,58.0,74.0,81.0,66.0,342.0
3,Arsenal,78.0,69.0,61.0,63.0,70.0,341.0
4,Tottenham,54.0,71.0,62.0,77.0,71.0,335.0
5,Chelsea,39.0,74.0,67.0,70.0,72.0,322.0
6,West Ham,34.0,56.0,65.0,42.0,52.0,249.0
7,Newcastle Utd,65.0,49.0,45.0,44.0,45.0,248.0
8,Leicester City,30.0,52.0,66.0,47.0,52.0,247.0
9,Everton,29.0,39.0,59.0,49.0,54.0,230.0
10,Crystal Palace,40.0,48.0,44.0,44.0,49.0,225.0
11,Brighton,52.0,51.0,41.0,40.0,36.0,220.0
12,Wolves,37.0,51.0,45.0,NaN,57.0,190.0
13,Southampton,24.0,40.0,43.0,36.0,39.0,182.0
14,Burnley,NaN,35.0,39.0,54.0,40.0,168.0
15,Aston Villa,54.0,45.0,55.0,NaN,NaN,154.0
16,Bournemouth,39.0,NaN,NaN,44.0,45.0,128.0
17,Leeds United,30.0,38.0,59.0,NaN,NaN,127.0
18,Watford,NaN,23.0,NaN,41.0,50.0,114.0
19,Fulham,45.0,NaN,28.0,NaN,26.0,99.0
20,Brentford,50.0,46.0,NaN,NaN,NaN,96.0
21,West Brom,NaN,NaN,26.0,31.0,NaN,57.0
22,Huddersfield,NaN,NaN,NaN,37.0,16.0,53.0
23,Cardiff City,NaN,NaN,NaN,NaN,34.0,34.0
24,Stoke City,NaN,NaN,NaN,33.0,NaN,33.0
25,Swansea City,NaN,NaN,NaN,33.0,NaN,33.0
26,Nott'ham Forest,30.0,NaN,NaN,NaN,NaN,30.0
27,Sheffield Utd,NaN,NaN,23.0,NaN,NaN,23.0
28,Norwich City,NaN,22.0,NaN,NaN,NaN,22.0

In [110]:
#do an str.replace to replace Utd with United
league_table['Squad'] = league_table['Squad'].str.replace('Utd', 'United')
league_table

,Squad,Pts_2023,Pts_2022,Pts_2021,Pts_2019,Pts_2020,Total_Pts
0,Manchester City,79.0,93.0,86.0,100.0,98.0,456.0
1,Liverpool,59.0,92.0,69.0,75.0,97.0,392.0
2,Manchester United,63.0,58.0,74.0,81.0,66.0,342.0
3,Arsenal,78.0,69.0,61.0,63.0,70.0,341.0
4,Tottenham,54.0,71.0,62.0,77.0,71.0,335.0
5,Chelsea,39.0,74.0,67.0,70.0,72.0,322.0
6,West Ham,34.0,56.0,65.0,42.0,52.0,249.0
7,Newcastle United,65.0,49.0,45.0,44.0,45.0,248.0
8,Leicester City,30.0,52.0,66.0,47.0,52.0,247.0
9,Everton,29.0,39.0,59.0,49.0,54.0,230.0
10,Crystal Palace,40.0,48.0,44.0,44.0,49.0,225.0
11,Brighton,52.0,51.0,41.0,40.0,36.0,220.0
12,Wolves,37.0,51.0,45.0,NaN,57.0,190.0
13,Southampton,24.0,40.0,43.0,36.0,39.0,182.0
14,Burnley,NaN,35.0,39.0,54.0,40.0,168.0
15,Aston Villa,54.0,45.0,55.0,NaN,NaN,154.0
16,Bournemouth,39.0,NaN,NaN,44.0,45.0,128.0
17,Leeds United,30.0,38.0,59.0,NaN,NaN,127.0
18,Watford,NaN,23.0,NaN,41.0,50.0,114.0
19,Fulham,45.0,NaN,28.0,NaN,26.0,99.0
20,Brentford,50.0,46.0,NaN,NaN,NaN,96.0
21,West Brom,NaN,NaN,26.0,31.0,NaN,57.0
22,Huddersfield,NaN,NaN,NaN,37.0,16.0,53.0
23,Cardiff City,NaN,NaN,NaN,NaN,34.0,34.0
24,Stoke City,NaN,NaN,NaN,33.0,NaN,33.0
25,Swansea City,NaN,NaN,NaN,33.0,NaN,33.0
26,Nott'ham Forest,30.0,NaN,NaN,NaN,NaN,30.0
27,Sheffield United,NaN,NaN,23.0,NaN,NaN,23.0
28,Norwich City,NaN,22.0,NaN,NaN,NaN,22.0

In [111]:
#merge the total_fee table with the league_table on table_name for league table and club_name for total_fee
total_fee = pd.merge(total_fee, league_table, left_on='club_name', right_on='Squad')
total_fee

,club_name,fee_cleaned,Squad_x,Pts_2023_x,Pts_2022_x,Pts_2021_x,Pts_2019_x,Pts_2020_x,Total_Pts_x,Squad_y,Pts_2023_y,Pts_2022_y,Pts_2021_y,Pts_2019_y,Pts_2020_y,Total_Pts_y
0,Chelsea,1490.990,Chelsea,39.0,74.0,67.0,70.0,72.0,322.0,Chelsea,39.0,74.0,67.0,70.0,72.0,322.0
1,Manchester City,1025.710,Manchester City,79.0,93.0,86.0,100.0,98.0,456.0,Manchester City,79.0,93.0,86.0,100.0,98.0,456.0
2,Manchester United,984.980,Manchester United,63.0,58.0,74.0,81.0,66.0,342.0,Manchester United,63.0,58.0,74.0,81.0,66.0,342.0
3,Arsenal,839.560,Arsenal,78.0,69.0,61.0,63.0,70.0,341.0,Arsenal,78.0,69.0,61.0,63.0,70.0,341.0
4,Liverpool,674.600,Liverpool,59.0,92.0,69.0,75.0,97.0,392.0,Liverpool,59.0,92.0,69.0,75.0,97.0,392.0
5,Everton,615.070,Everton,29.0,39.0,59.0,49.0,54.0,230.0,Everton,29.0,39.0,59.0,49.0,54.0,230.0
6,Newcastle United,604.515,Newcastle United,65.0,49.0,45.0,44.0,45.0,248.0,Newcastle United,65.0,49.0,45.0,44.0,45.0,248.0
7,Aston Villa,598.190,Aston Villa,54.0,45.0,55.0,NaN,NaN,154.0,Aston Villa,54.0,45.0,55.0,NaN,NaN,154.0
8,Leicester City,521.999,Leicester City,30.0,52.0,66.0,47.0,52.0,247.0,Leicester City,30.0,52.0,66.0,47.0,52.0,247.0
9,Leeds United,417.025,Leeds United,30.0,38.0,59.0,NaN,NaN,127.0,Leeds United,30.0,38.0,59.0,NaN,NaN,127.0
10,Fulham,355.065,Fulham,45.0,NaN,28.0,NaN,26.0,99.0,Fulham,45.0,NaN,28.0,NaN,26.0,99.0
11,Crystal Palace,247.670,Crystal Palace,40.0,48.0,44.0,44.0,49.0,225.0,Crystal Palace,40.0,48.0,44.0,44.0,49.0,225.0
12,Watford,247.490,Watford,NaN,23.0,NaN,41.0,50.0,114.0,Watford,NaN,23.0,NaN,41.0,50.0,114.0
13,Burnley,228.875,Burnley,NaN,35.0,39.0,54.0,40.0,168.0,Burnley,NaN,35.0,39.0,54.0,40.0,168.0
14,Norwich City,184.156,Norwich City,NaN,22.0,NaN,NaN,NaN,22.0,Norwich City,NaN,22.0,NaN,NaN,NaN,22.0
15,Sheffield United,181.945,Sheffield United,NaN,NaN,23.0,NaN,NaN,23.0,Sheffield United,NaN,NaN,23.0,NaN,NaN,23.0
16,Brentford,169.160,Brentford,50.0,46.0,NaN,NaN,NaN,96.0,Brentford,50.0,46.0,NaN,NaN,NaN,96.0
17,Stoke City,145.895,Stoke City,NaN,NaN,NaN,33.0,NaN,33.0,Stoke City,NaN,NaN,NaN,33.0,NaN,33.0
18,Cardiff City,126.910,Cardiff City,NaN,NaN,NaN,NaN,34.0,34.0,Cardiff City,NaN,NaN,NaN,NaN,34.0,34.0
19,Swansea City,96.359,Swansea City,NaN,NaN,NaN,33.0,NaN,33.0,Swansea City,NaN,NaN,NaN,33.0,NaN,33.0

In [8]:
%%R -i total_fee -w 1000 -h 1000
#plot the data on gg plot, x axis as fee cleaned and y axis as table_pts
ggplot(total_fee, aes(x = fee_cleaned, y = Total_Pts)) +
  geom_point() +
  geom_smooth(method = 'lm') +
  geom_text(aes(label = club_name), hjust = 0, vjust = 0)

NameError: name 'total_fee' is not defined.

In [65]:
%%R -i total_fee

#regression analysis
model <- lm(fee_cleaned ~ age, data=total_fee)

summary(model)

Call:
lm(formula = table_pts ~ fee_cleaned, data = total_fee)

Coefficients:
(Intercept)  fee_cleaned
   38.00763      0.01087